if SHIELD_RECLUSE_LEFT

config ZMK_KEYBOARD_NAME
    default "recluse"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RECLUSE_LEFT || SHIELD_RECLUSE_RIGHT

config ZMK_SPLIT
    default y

endif